th {
    cursor: pointer;
}

body{
	width: 100vw; 
	height: 100vh; 
	position: relative;
	background-size: cover;
	background-repeat: no-repeat; 
	margin-bottom: 50px; 
}
.background{
	position: absolute;
	top: 0;
	left: 0;
	/* background: rgb(255,255,255,0.4); */
	width: 100vw;
	height: 100vh; 
	z-index: -1;
}

/*
.background{
	background-image: url("../Pokemon/background.jpg");
	width: 100vw;
	height: 800px;
	position:relative;
	margin: auto;
}*/
/*
.background img{
	width:100%;
	opacity:0.6;
}*/

.pokemon_info_page{
	text-align: center;
}


.contents{
	width: 100%;
	height: 100%; 
	/*padding: 20px; */
	position: relative;

}

.contents h1{
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
}

.tableLinks{
    position: absolute;
    width: 100%;
    display: flex;
    padding: 100px;
    justify-content: space-evenly;
    top: 60%;
}

.contents .tableLinks div{
	position: relative;
	width: 125px; 
	height: 50px; 
	background-color: #ff802b; 
	border-radius: 5%; 
	-webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
}

.contents .tableLinks div a{
	text-transform: capitalize;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 73%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    -webkit-transition: font-size 200ms ease;
    transition: font-size 200ms ease;
}

.contents .tableLinks div:hover{
	box-shadow: 5px 5px 5px rgb(0,0,0,.3);
	-webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
}
.contents .tableLinks div a:hover{


	text-decoration: none; 
	font-size: 18px; 
	/*top: 69%;*/
	-webkit-transition: font-size 200ms ease;
    transition: font-size 200ms ease;
}

body.aboutPage{
	background-color:#A4DDFD;
	/* padding: 50px;  */
}

body.model{
	background-color:#A4DDFD;	
}

body.model table{
	width: 75%;
}

body.aboutPage img{
	width: 100px; 
	height: 100px; 
}

body.model h1{
	padding-top: 75px; 
	text-align: center;
}
table{
	margin-top: 50px; 
	margin-bottom: 25px; 
	table-layout: auto;
	width: 100%; 
}

table.table-bordered{
	border-color: black
}

table tr th{
	height: 75px; 
}

table tr th, table tr td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid black;
}

.stat_list{
	display: inline-block;
	text-align: right;
	background-color: #A4DDFD;
	table-layout: auto;
	width: 20%;
	margin-top: 50px;
}

.contents .splashTitle div{
	position: relative;
	width: 125px; 
	height: 50px; 
	background-color: #1d1d1d; 
	border-radius: 2px; 
}

.active {
    background-color: #2191C4;
}


.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.pagination{
	justify-content: space-around;
}

/*
 ul.navigation{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #3C3431;
}

ul.navigation li {
	float: left;
}

ul.navigation li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.navigation li a:hover {
	color: white;
	text-align: center;
	background-color: #2191C4;
	text-decoration: none;
}*/

.pages{
	display: flex;
	justify-content: center;
}

.pages a{
	margin: 0px 5px 20px; 
}