<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/pdb.css" media="all">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #3C3431;
        }
            
        li {
              float: left;
        }
            
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
            
        li a:hover {
            color: white;
            text-align: center;
            background-color: #2191C4;
            text-decoration: none;
        }

        ul.table {
            list-style-type: none;
            
        }

        ul.table li a {
            color: black;
            text-align: left;
            padding: 5px 5px;
        }

        ul.table li {
              float: left;
              padding: 10px 10px;
        }

        ul.table li a:hover {
            color: blue;
            text-align: center;
            background-color: #2191C4;
            text-decoration: none;
        }
    </style>

    <title>About</title>
  </head>
  <body class = "aboutPage">

        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('pokemon')}}">Pokemon</a></li>
            <li><a href="{{url_for('skills')}}">Skills</a></li>
            <li><a href="{{url_for('types')}}">Types</a></li>
            <li style="padding-top:10px;"><form action="{{url_for('pokemonSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Pokemon!"><input type = "submit"></form></li>
            <li style="padding-top:10px; padding-left: 20px;"><form action="{{url_for('skillSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Skills!"><input type = "submit"></form></li>
            <li style="padding-top:10px; padding-left: 20px;"><form action="{{url_for('typeSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Types!"><input type = "submit"></form></li>
            <li style="float:right"><a class="active" href="#about">About</a></li>
        </ul>

    <h1 style="padding-top: 50px; text-align: center">About Gym Leaders</h1>
    
    <div style = "padding-left: 80px; padding-right: 80px;">
    <table class="container-fluid">
        <tr>
            <th>
                Name
            </th>
            <th>
                Photo   
            </th>
            <th>
                Bio   
            </th>
            <th>
                Responsibilites
            </th>
            <th>
                No. of Commits
            </th>
            <th>
                No. of Issues
            </th>
            <th>
                No. of Unit Tests
            </th>
        </tr>

        <tr>
            <!-- <img src="/static/Members/user.png" alt="Trace Image">  -->
            <td>Trace Tschida</td>
            <td><img src="../static/Members/tracePhoto.jpg" alt="Trace Image"></td>
            <td>Senior Studying Management Information Systems from Dallas, TX</td>
            <td>Backend Flask route creation, sorting the model pages with JavaScript, and deployment</td>
            <td>43</td>
            <td>3</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Maddie Pellman</td>
            <td><img src="../static/Members/maddiePhoto.jpg" alt="Maddie Image" height="50%" width="50%"></td>
            <td>Senior Studying Management Information Systems from Austin, TX</td>
            <td>HTML, CSS Styling Pagination</td>
            <td>20</td>
            <td>6</td>
            <td>1</td>
        </tr>

        <tr>
            <td>Jayden Fuqua</td>
            <td><img src="../static/Members/JaydenFuqua.JPG" style="transform:rotate(90deg);"></td>
            <td>Senior Studying Management Information Systems from Kermit, TX</td>
            <td>Wrote technical report and helped with backend</td>
            <td>32</td>
            <td>7</td>
            <td>2</td>
        </tr>

        <tr>
            <td>Ron Jones</td>
            <td><img src="../static/Members/ronPhoto.jpg" alt="Ron Image"></td>
            <td>Senior studying Management Information Systems from Austin, TX</td>
            <td>HTMS,CSS Styling, and helped with Backend</td>
            <td>28</td>
            <td>1</td>
            <td>1</td>
        </tr>

        <tr>
            <td>Gabriela Dudzic</td>
            <td><img src="../static/Members/gaby.jpg" alt="Gaby Image"></td>
            <td>Senior studying Arts and Entertainment Technologies from Lubbock, TX</td>
            <td>HTML, CSS Styling, and backend for dynamic pages</td>
            <td>28</td>
            <td>19</td>
            <td>1</td>
        </tr>

    </table>

    <table class="container-fluid">
        <tr>
            <th>
                Total no. Commits
            </th>
            <th>
               Total no. Issues  
            </th>
            <th>
                Total no. Unit Tests
            </th>
            <th>
                Link to the GitLab Issue Tracker
            </th>
            <th>
                Link to the GitLab Repo
            </th>
            <th>
                Link to the GitLab Wiki
            </th>
        </tr>

        <tr>
            <!-- <img src="/static/Members/user.png" alt="Trace Image">  -->
            <td>43</td>
            <td>17</td>
            <td>0</td>
            <td><a href ="https://gitlab.com/mpell15/cs329e-idb/issues">Git Lab Issue Tracker</a></td>
            <td><a href="https://gitlab.com/mpell15/cs329e-idb/tree/master">Git Lab Repo</a></td>
            <td><a href="https://gitlab.com/mpell15/cs329e-idb/wikis/Pokemon-Website-Technical-Report"> Git Lab Wiki</a></td>
        </tr>

    </table>

    <h3>Data</h3>
    <ul class = "table">
        <li><a href="https://github.com/fanzeyi/Pokemon-DB">Main Data Source</a></li>
        <li><a href="https://github.com/jayden10f/PokemonType">Data Soruce for Pokemon Type Pictures</a></li>
    </ul> 

    <h3>Tools</h3>
    <ul class = "table">
        <li>Flask</li>
        <li>TypeScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap 4</li>
        <li>Google Cloud App Engine</li>
        <li>JavaScript</li>
        <li>Git</li>
        <li>GitLab</li>
        <li>Flask_Paginate</li>
        <li>Flask SQLAlchemy</li>
    </ul> 

    <h3>Slides</h3>
    <ul class="table">
        <li><a href="https://1drv.ms/p/s!An3ixLVzNvJPl9VgUPtPDwaJOOvcJw">Slides</a></li>
    </ul>

    </div>

    <div class="container-fluid" style = "padding-left: 80px; padding-right: 80px;"">
        <h3>Tests</h3>
        <input class="btn btn-info" type="button" value="Check" onclick="window.location.href = {{url_for('about')}}" />
        {%for line in results%}
            <p>{{line}}</p>
        {%endfor%}
    </div>

    <div style = "padding-bottom: 100px"></div>


    
  </body>
</html>