<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/pdb.css" media="all">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <nav class = "navbar navbar-expand">
      <ul class="navbar-nav">
        <li class = "nav-item">
          <a  class =  "nav-link" href = "{{url_for('index')}}">Home</a>
        </li>

        <li class = "nav-item">
          <a class = "nav-link" href = "{{url_for('skills')}}">Skills</a>
        </li>
        
        <li class = "nav-item">
          <a class = "nav-link" href = "{{url_for('types')}}">Types</a>
        </li>

        <li class = "nav-item">
          <a class = "nav-link" href = "{{url_for('pokemon')}}">Pokemon</a>
        </li>

        <li class = "nav-item">
          <a class = "nav-link" href = "{{url_for('about')}}">About</a>
        </li>
      </ul>
    </nav>

    <title>Grass Type Info</title>
  </head>
  <body>
    <div class = "pokemon_info_page">
      <h1>Type</h1>
      <img src="/static/Types/grass.png" alt="Grass"/>
      <h2>Info</h2>
      <ul class = "stat_list">
        <li>Strong Against: Water, Ground, Rock</li>
        <li>Weak Against: Bug, Poison, Fire</li>
        <li>No Effect on: Nothing</li>
        <li>Generation Released: 1</li>
        <li>Pokemon of this type: <a href = "/Bulbasaur">Bulbasaur</a></li>
        <li>Moves of this type: <a href = "/vinewhip">Vine Whip</a></li>            
      </ul>
    </div>



     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>