<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/pdb.css" media="all">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <style>
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #3C3431;
      }
      
      li {
          float: left;
      }
      
      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }
      
      li a:hover {
          color: white;
          text-align: center;
          background-color: #2191C4;
          text-decoration: none;
      }
      </style>

    <title>Pokedex</title>
  </head>
  <body background = "../static/Pokemon/background.jpg">
    <div class="background"></div>
    <div class="contents">
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="{{url_for('pokemon')}}">Pokemon</a></li>
            <li><a href="{{url_for('skills')}}">Skills</a></li>
            <li><a href="{{url_for('types')}}">Types</a></li>
            <li style="padding-top:10px;"><form action="{{url_for('pokemonSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Pokemon!"><input type = "submit"></form></li>
            <li style="padding-top:10px; padding-left: 20px;"><form action="{{url_for('skillSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Skills!"><input type = "submit"></form></li>
            <li style="padding-top:10px; padding-left: 20px;"><form action="{{url_for('typeSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Types!"><input type = "submit"></form></li>
            <li style="float:right"><a href="{{url_for('about')}}">About</a></li>
          </ul>  

      <h1 style="color: white; background-color:rgba(0,0,0,.6); padding: 20px 20px;">POKEMON POKEDEX</h1>
  
      <div class = "tableLinks">
        <div>
          <a href = "{{url_for('pokemon')}}">POKEMON</a>
        </div>
        <div>
          <a href = "{{url_for('skills')}}">SKILLS</a>
        </div>
        <div>
          <a href = "{{url_for('types')}}">TYPES</a>
        </div>
        <div>
          <a href = "{{url_for('about')}}">ABOUT TEAM</a>
        </div>
      </div>      
    </div>


   

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>