<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/pdb.css" media="all">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pdb.css') }}">
    
    <style>
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #3C3431;
      }
      
      li {
          float: left;
      }
      
      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }
      
      li a:hover {
          color: white;
          text-align: center;
          background-color: #2191C4;
          text-decoration: none;
      }
      </style>

<title>Pokemon</title>
</head>
<body class="model">
        <ul>
                
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a class="active" href="{{url_for('pokemon')}}">Pokemon</a></li>
                <li><a href="{{url_for('skills')}}">Skills</a></li>
                <li><a href="{{url_for('types')}}">Types</a></li>
                <li style="padding-top:10px;"><form action="{{url_for('pokemonSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Pokemon!"><input type = "submit"></form></li>
                <li style="padding-top:10px; padding-left: 20px;"><form action="{{url_for('skillSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Skills!"><input type = "submit"></form></li>
                <li style="padding-top:10px; padding-left: 20px;"><form action="{{url_for('typeSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Types!"><input type = "submit"></form></li>
                <li style="float:right"><a href="{{url_for('about')}}">About</a></li>

              </ul>
  <h1>Pokemon</h1>
  {%if pokemon != []%}
      <table style="width:75%" class="container-fluid" id="modelTable">
          <tr>
              <th onclick="sortTable(0)">#</th>
              <th onclick="sortTable(1)">Name</th>
              <th onclick="sortTable(2)">Attack</th>
              <th onclick="sortTable(3)">Defense</th>
              <th onclick="sortTable(4)">HP</th>
              <th onclick="sortTable(5)">Special Attack</th>
              <th onclick="sortTable(6)">Special Defense</th>
              <th onclick="sortTable(7)">Speed</th>
              <th>Image</th>
          </tr>
          {%for i in pokemon%}
              <tr>
                  <td>{{loop.index + (page - 1) * per_page}}</td>
                  <td><a href="{{url_for('pokemoninfo', name = i.name)}}">{{i.name}}</a></td>
                  <td>{{i.attack}}</td>
                  <td>{{i.defense}}</td>
                  <td>{{i.hp}}</td>
                  <td>{{i.spatk}}</td>
                  <td>{{i.spdef}}</td>
                  <td>{{i.spd}}</td>
                  <!--We could just download the image into the application, not sure how efficient that would be though-->
                  <td><img src = "{{i.image_link}}" height = "42" width = "42">
              </tr>
          {%endfor%}
  {%endif%}


      </table>

<!-- This dynamic content allows the user to navigate from page to page -->
  <div class = "pages" style="text-align: center;">

    {% if (page - 5) > 1 %}
      <a class="btn btn-primary" href="{{url_for('pokemonSearchQuery', page = (page-5), query = query)}}"><</a>

    {% endif %}

    {%for i in range(page - 5, page + 5)%}

        {% if i > 0 and i <= total_pages %}
          <a class="btn btn-primary" href="{{url_for('pokemonSearchQuery', page = i, query = query)}}">{{i}}</a>
        {% endif %}
    {%endfor%}

    {% if total_pages > (page+5) %}
      <a class="btn btn-primary" href="{{url_for('pokemonSearchQuery', page = (page+6), query = query)}}">></a>
    {% endif %}


  </div>
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/table_sort.js') }}"></script>
</body>
</html>
