<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/pdb.css" media="all">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
      ul.navclass {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #3C3431;
      }
      
      li.navclass {
          float: left;
      }
      
      li.navclass a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }
      
      li.navclass a:hover {
          color: white;
          text-align: center;
          background-color: #2191C4;
          text-decoration: none;
      }
      </style>
 
    <title>{{pokemon.name}} Info</title>
  </head>
  <body class = "model">
      <ul class="navclass">
          <li class="navclass"><a href="{{url_for('index')}}">Home</a></li>
          <li class="navclass"><a class="active" href="{{url_for('pokemon')}}">Pokemon</a></li>
          <li class="navclass"><a href="{{url_for('skills')}}">Skills</a></li>
          <li class="navclass"><a href="{{url_for('types')}}">Types</a></li>
          <li class="navclass" style="padding-top:10px;"><form action="{{url_for('pokemonSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Pokemon!"><input type = "submit"></form></li>
          <li class="navclass" style="padding-top:10px; padding-left: 20px;"><form action="{{url_for('skillSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Skills!"><input type = "submit"></form></li>
          <li class="navclass" style="padding-top:10px; padding-left: 20px;"><form action="{{url_for('typeSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Types!"><input type = "submit"></form></li>
          <li class="navclass" style="float:right"><a href="{{url_for('about')}}">About</a></li>

        </ul>
    <div class = "pokemon_info_page">
    <table>

    </table>
      <h1>{{pokemon.name}}</h1>
      <img src = "{{pokemon.image_link}}" height = "250" width = "250">
      <h2>{{pokemon.name}} Stats</h2>
      <ul style="width: 20%; margin-right:40%; margin-left:40%; display: inline-block;
      text-align:center;">
          <li>Attack: {{pokemon.attack}}</li>
          <li>Defense: {{pokemon.defense}}</li>
          <li>HP: {{pokemon.hp}}</li>
          <li>Sp. Atk: {{pokemon.spatk}}</li>         
          <li>Sp. Def: {{pokemon.spdef}}</li>
          <li>Speed: {{pokemon.spd}}</li>
          <li>Type: <a href="{{url_for('typeinfo', typename = pokemon.pokemon_type_id)}}">{{pokemon.pokemon_type_id}}</a></li>         
      </ul>
    </div>
    <div>
        <table style="width:100%" class="container-fluid" id="modelTable">
            <tr>
                <th>Skills associated with Pokemon</th>
            </tr>
            {%for i in pokemon.type.skills%}
                <tr>
                    <td><a href="{{url_for('skillinfo', skillname = i.name)}}">{{i.name}}</a></td>
                </tr>
            {%endfor%}
  
        </table>
    </div>



     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>