<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/pdb.css" media="all">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pdb.css') }}">
    
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #3C3431;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            color: white;
            text-align: center;
            background-color: #2191C4;
            text-decoration: none;
        }
        </style>


  </head>
  <body class="model">

      <ul>
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('pokemon')}}">Pokemon</a></li>
          <li><a class="active" href="#Skills">Skills</a></li>
          <li><a href="{{url_for('types')}}">Types</a></li>
          <li style="padding-top:10px;"><form action="{{url_for('pokemonSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Pokemon!"><input type = "submit"></form></li>
          <li style="padding-top:10px; padding-left: 20px;"><form action="{{url_for('skillSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Skills!"><input type = "submit"></form></li>
          <li style="padding-top:10px; padding-left: 20px;"><form action="{{url_for('typeSearchResults')}}" method="POST"><input type = "text" name = "searchString" placeholder="Search Types!"><input type = "submit"></form></li>
          <li style="float:right"><a href="{{url_for('about')}}">About</a></li>
        </ul>
    
        <title>Skills</title>
    </head>
    <body class="model">
      <h1>Skills</h1>
      {%if skills != []%}
          <table style="width:75%" class="container-fluid" id="modelTable">
              <tr>
                  <th onclick="sortTable(0)">#</th>
                  <th onclick="sortTable(1)">Name</th>
                  <th onclick="sortTable(2)">Accuracy</th>
                  <th onclick="sortTable(3)">Power</th>
                  <th onclick="sortTable(4)">pp</th>
                  <th onclick="sortTable(5)">Skill Type</th>
              </tr>
              {%for i in skills%}
    
                  <tr>
                      <td>{{loop.index + (page - 1) * per_page}}</td>
                      <td><a href="{{url_for('skillinfo', skillname = i.name)}}">{{i.name}}</a></td>
                      <td>{{i.accuracy}}</td>
                      <td>{{i.power}}</td>
                      <td>{{i.pp}}</td>
                      <td><a href = "{{url_for('typeinfo', typename = i.skill_type_id)}}">{{i.skill_type_id}}</td>
                  </tr>
              {%endfor%}
      {%endif%}
    <!-- 
      {% if prev_url %}
          <a href="{{ prev_url }}">Newer posts</a>
      {% endif %}
      {% if next_url %}
          <a href="{{ next_url }}">Older posts</a>
      {% endif %} -->
    
          </table>

    </table> 

    <div class ="pages" style="text-align: center;">

    {% if (page - 5) > 1 %}
      <a class="btn btn-primary" href="{{url_for('skillSearchQuery', page = (page-5), query = query)}}"><</a>

    {% endif %}

    {%for i in range(page - 5, page + 5)%}

        {% if i > 0 and i <= total_pages %}
          <a class="btn btn-primary" href="{{url_for('skillSearchQuery', page = i, query = query)}}">{{i}}</a>
          
        {% endif %}
    {%endfor%}

    {% if total_pages > (page+5) %}
      <a class="btn btn-primary" href="{{url_for('skillSearchQuery', page = (page+6), query = query)}}">></a>
    {% endif %}


    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/table_sort.js') }}"></script>
</body>
</html>